<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Blog</title>
</head>
<h1>Uploded Images</h1>
<body>
    <div>this is homepage</div>
    <a href="/uplode">Uplode New Image</a>
</body>
</html>